@import '../../../styles/variables';
.login-page {
  .l-r-col{
    background: $primary-light;
  }
  .login-container{
    max-width: 500px;
    width: 80%;
  }
  h1 {
    color:$black;
    margin-bottom: 10px;
  }
  .btn{
    color: $white;
  }
  .form-group{
    margin-bottom: 27px;
  }
}
