
<!-- Table -->
<div class="acl-user-container">
    <table class="table user-table">
      <thead>
        <tr class="border-top border-bottom">
          <th class="font-weight-normal align-middle  pl-3">Date</th>
          <th class="font-weight-normal align-middle  pl-3">Name</th>
          <th class="font-weight-normal align-middle  pl-3">Is Hospitalize</th>
          <th class="font-weight-normal align-middle  pl-3">RequestFor</th>
          <th class="font-weight-normal align-middle px-3" style="width:120px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom"  *ngFor="let admin of userRequestList">
          <td class="align-middle  pl-3">
           {{admin?.createdAt | date: 'dd/MM/yyyy' }}
          </td>
          <td class="align-middle  pl-3">
             <a 
                [routerLink]="['/blood-bank/edit/',admin?.bloodBankID]" 
                target= "_blank"
              >{{admin?.bloodBankDetails?.firstName}} {{admin?.bloodBankDetails?.lastName}}</a>
           </td>
          <td class="align-middle  pl-3">
            {{admin?.isHospitalize}}
           </td>
           <td class="align-middle  pl-3">
            {{admin?.requestFor}}
           </td>
          <td class="align-middle">
            <app-action-bar
            [item]="admin"
            (onItemUpdate)="onUpdate($event)"
            [showStatus]="false"
            [showClone]="false"
            [editPageUrl]="adminUrl + admin.id"
          ></app-action-bar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 