<app-page-titlebar
  [pageTitle]="pageTitle"
  [itemCount]="adminCount"
  [button]="button"
></app-page-titlebar>
<!-- Main Section -->
<div class="bg-white">
  <nav class="navbar navbar-expand-sm bg-white justify-content-between ">
    <div class="col-md-5 p-0">
      <app-search-bar
        [placeholder]="'Search by  Name'"
        (searchChange)="onSearchChange($event)"
      ></app-search-bar>
    </div>
  </nav>
<app-admin-users-listing
[adminList]="adminList"
(statusUpdate)="onStatusUpdate($event)"
></app-admin-users-listing>
<app-pagination
  *ngIf="adminCount"
  [total]="adminCount"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
>
</app-pagination>
</div>