
<!-- Table -->
<div class="acl-user-container">
    <table class="table user-table">
      <thead>
        <tr class="border-top border-bottom">
          <th class="font-weight-normal align-middle  pl-3">Date</th>
          <th class="font-weight-normal align-middle  pl-3">User Name</th>
          <th class="font-weight-normal align-middle  pl-3">Blood Bank User</th>
          <th class="font-weight-normal align-middle  pl-3">Paid Amount</th>
          <th class="font-weight-normal align-middle  pl-3">Paid Status</th>
          <th class="font-weight-normal align-middle px-3" style="width:120px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom"  *ngFor="let list of userDonateList">
          <td class="align-middle  pl-3">
           {{list?.createdAt | date: 'dd/MM/yyyy' }}
          </td>
          <td class="align-middle  pl-3">
            <a 
                [routerLink]="['/users/edit/',list?.userID]" 
                target= "_blank"
              >{{list?.userDetails?.firstName}} {{list?.userDetails?.lastName}}</a>
           </td>
           <td class="align-middle  pl-3">
            <a 
                [routerLink]="['/blood-bank/edit/',list?.bloodBankID]" 
                target= "_blank"
              >{{list?.bloodBankDetails?.firstName}} {{list?.bloodBankDetails?.lastName}}</a>
           </td>
          <td class="align-middle  pl-3">
            {{list?.paidAmount}}
           </td>
           
           <td class="align-middle  pl-3">
            {{list?.paidStatus}}
           </td>
           
          <td class="align-middle">
            <app-action-bar
            [item]="list"
            (onItemUpdate)="onUpdate($event)"
            [showStatus]="false"
            [showClone]="false"
            [editPageUrl]="listUrl + list.id"
          ></app-action-bar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 