@import '../../../../styles/variables';

.search-bar {
  .input-group {
    width: 100%;
    max-width: 500px;
    .form-control {
     width:100%;
     min-height: 45px;
    }
    .input-group-append {
      border: 1px solid $theme-border;
      position: absolute;
      right: -38px;
      height: 45px;
    }

    &:focus-within {
      .form-control {
        border-color: $primary;
      }
      .input-group-append {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }
  }
  .btn{
    padding: 0px 12px;
    border-radius: 0 4px 4px 0;
    color: $dark;
    .icon-search{
      margin-top: 5px;
    }
  }
}