
<!-- Table -->
<div class="acl-user-container">
    <table class="table user-table">
      <thead>
        <tr class="border-top border-bottom">
          <th class="font-weight-normal align-middle  pl-3">Date</th>
          <th class="font-weight-normal align-middle  pl-3">First Name</th>
          <th class="font-weight-normal align-middle  pl-3">Last Name</th>
          <th class="font-weight-normal align-middle  pl-3">Email Id</th>
          <th class="font-weight-normal align-middle  pl-3">Phone Number</th>
          <th class="font-weight-normal align-middle px-3" style="width:120px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom"  *ngFor="let admin of adminList">
          <td class="align-middle  pl-3">
           {{admin?.createdAt | date: 'dd/MM/yyyy' }}
          </td>
          <td class="align-middle  pl-3">
            {{admin?.firstName}}
           </td>
           <td class="align-middle  pl-3">
            {{admin?.lastName}}
           </td>
           <td class="align-middle  pl-3">
            <a href="mailto:{{admin?.email}}" class="primary-text">{{admin?.email}}</a>
           </td>
           <td class="align-middle  pl-3">
            {{admin?.phoneNumber}}
           </td>
          <td class="align-middle">
            <app-action-bar
            [item]="admin"
            (onItemUpdate)="onUpdate($event)"
            [showStatus]="false"
            [showClone]="false"
            [editPageUrl]="adminUrl + admin.id"
          ></app-action-bar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 