<form [formGroup]="apiKeyForm" class="p-4 pb-0">
  
    <!--Name-->
    <div class="row">
      <div class="form-group col-lg-6 required">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div class="form-group col-lg-6 mt-4 required d-flex justify-content-end">
        <label class="switchToggle">
            <input type="checkbox" formControlName="statusID" />
            <span class="switchSlider"></span>
            </label>
      </div>
    </div>
    <!--Api key-->
    <div class="row">
        <div class="form-group col-lg-6 required">
          <label>Api Key</label>
          <input type="text" class="form-control" formControlName="apikey" />
        </div>
      </div>
    
    <!-- Role -->
    <div class="row">
        <div class="col-6 form-group required">
          <label>Role</label>
          <ng-select
            class="w-100 text-capitalize"
            [multiple]="false" 
            [items]="roleList" 
            bindLabel="name"
            bindValue="name"
            formControlName="roleID"
            (change)="onRoleChange($event)"
            [searchable]="true"
          ></ng-select>
        </div>
      </div>
    <!-- Status -->
    <div class="row">
        
      </div>
    
  </form>
  
  <!-- Footer -->
  <div class="footer clearfix  p-4">
    <button
      type="button"
      (click)="onBackClick()"
      class="btn btn-outline-primary font-weight-bold float-left px-4"
    >
      BACK
    </button>
    <button
      type="button"
      class="btn btn-primary font-weight-bold float-right px-4"
      [ngClass]="{ disabled: apiKeyForm.invalid }"
      [disabled]="apiKeyForm.invalid"
      (click)="onSubmit()"
    >
      SAVE
    </button>
  </div>
  